.App {
  /* font-family: 'Belleza', cursive !important; */
  /* font-family: 'Arima Madurai', cursive; */
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
body {
  background: url('bj.jpg') no-repeat center fixed;
  background-size: cover ;
  background-attachment: fixed;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

