@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif !important;
}
div {
  transition: background 500ms;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

lightshadow {
  border-radius: 50px;
  background: #55b9f3;
  box-shadow: 20px 20px 60px #489dcf, -20px -20px 60px #62d5ff;
}
